		  
      <% if flash[:snapshot_id].present? %>
        <!-- Box -->
        <div class="box">
          <!-- data-status -->
          <div data-status="<%= snapshots_status_path(flash[:snapshot_id]) %>">
            <div class="usermsg" id="snapshot-processing">
              <h1>Hold on, <%= user_name %>..</h1>
              <h2>We are taking the snapshot..</h2>
              <div id="loading">
				  <div class="loader" title="Working..">
				    <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				     width="120px" height="120px" viewBox="0 0 40 40" enable-background="new 0 040 40" xml:space="preserve">
				    <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
				      s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
				      c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
				    <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
				      C22.32,8.481,24.301,9.057,26.013,10.047z">
				      <animateTransform attributeType="xml"
				        attributeName="transform"
				        type="rotate"
				        from="0 20 20"
				        to="360 20 20"
				        dur="1.7s"
				        repeatCount="indefinite"/>
				      </path>
				    </svg>
				  </div>
				  <!--<img src="http://sharped.net/img/loading.gif" alt="loading..">-->
			  </div><br>
			  <!--<div id="wait">Estimated wait: <%= flash[:estimated_wait] %>s</div>-->
			  <div id="wait">Estimated wait:</div><div id="clock">Computing..</div>
            </div>
            <div class="usermsg" id="snapshot-done">
              <h1>Good news <%= user_name %>!</h1>
              <h2>Your snapshot is available: <%= link_to 'here', snapshot_url(flash[:snapshot_id]) %>.</h2>
            </div>
            <!--<p class='snapshot-processing'>Converting...</p>-->
            <div class="generic-error" id="snapshot-error">
              <!--<span id="error-highlight">ERROR: Snapshot failed.</span>-->
            </div>
            <!--<p class='snapshot-link'>The snapshot is available: <%= link_to 'here', snapshot_url(flash[:snapshot_id]) %>.
			(Right click and copy link to share it).</p>-->
          </div>
		  <!-- //data-status -->
        </div>
        <!-- //Box -->
      <% end %>
		 
      <% if !flash[:snapshot_id].present? %>
      <!-- Box -->
        <div class="box">
          <div class="usermsg">
            <h1>Hello <%= user_name %>!</h1>
            <h2>Type/paste the project website URL:</h2>
          </div>
          <div class="inputarea">
            <%= form_for @snapshot do |form| %>
              <!--<input type="text" class="input-text" placeholder="http://mydesignpot.webnode.com/" autofocus>-->
              <%= form.text_field :url, :class => 'form-input', :placeholder => 'http://mydesignpot.webnode.com/', :autofocus => true %>
              <!--<button type="button">Get PDF Snapshot!</button>-->
              <%= form.submit "Get PDF Snapshot!", :class => 'form-button' %>
              <% end %>
          </div>
          <% if @snapshot.errors[:url].any? %>
            <div class="generic-error">
              <!--<span id="error-highlight">-->
               ERROR: URL <%= @snapshot.errors[:url].to_sentence %>.<!--</span>-->
            </div>
          <% end %>
        </div>
        <!-- //Box -->
      <% end %>

	
<!-- Old
<h1>Add a new Snapshot</h1>
<%= form_for @snapshot do |form| %>
 
<p>
<%= form.label :url, "Your URL:" %>
<%= form.text_field :url %>
</p>
 
<% if @snapshot.errors[:url].any? %>
<p class='error-messages'>
The given url <%= @snapshot.errors[:url].to_sentence %>.
</p>
<% end %>
 
<p class='buttons'>
<%= form.submit "Snapshot my URL" %>
</p>
 
<% end %>
//Old -->