<!DOCTYPE html>
<html>
<head>
  <title>Pdfsnapshot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	
	<% if flash[:snapshot_id].present? %>
	<div data-status="<%= snapshots_status_path(flash[:snapshot_id]) %>">
	  <p class='snapshot-processing'>Converting...</p>
	  <p class='snapshot-error'>En error occured!</p>
  	  <p class='snapshot-link'>
  	    The snapshot is available: <%= link_to 'here', snapshot_url(flash[:snapshot_id]) %>.
	  (Right click and copy link to share it).
  	  </p>
	</div>
	<% end %>

<%= yield %>

</body>
</html>
