<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Exo+2:400,500,300,700,100' rel='stylesheet' type='text/css'>
  <title>snapper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Main containter -->	
  <div class="main">
	  
    <!-- Header -->
    <div class="header">
      <div id="wrapper">
        <a href="/" alt="Snapper"><div id="he2"></div></a>
        <div id="he3">
          <ul><span id="highlight"><%= link_to 'FAQ', page_path('faq') %></span></ul>
          <ul><span id="highlight"><%= link_to 'About', page_path('about') %></span></ul>
        </div>
      </div>
    </div>
    <!-- //Header -->
	
	
    <!-- Notice -->
    <!--<div class="notice">
      1d 20h 53m left for: Homework #4 (Submission Deadline)
    </div>-->
    <div class="notice">
      <a href="#">&nbsp;&nbsp;&nbsp;This is a <b>BETA</b> service. Suggestions? Bug reports? Click here.&nbsp;&nbsp;&nbsp;</a>
    </div>
    <!-- //Notice -->
	  
	  
    <!-- Contents -->
    <div class="contents">
      <%= yield %>	  
    </div>
    <!-- //Contents -->

    <!-- More Contents -->	  
    <div class="more-contents">
      <div class="notes">Note: you need to be enrolled in the current active session of the course and allow this utility to validate your usage eligibility through the Coursera Auth API.
      </div>
    </div>
    <!-- //More Contents -->
	
	  
    <!-- Stats -->
    <div class="stats">
      <div class="data">
        <numbers><%= stats_students %></numbers>&nbsp;&nbsp;students used this tool<br>
        <numbers><%= stats_snapshots %></numbers>&nbsp;&nbsp;snapshots taken<br>
        <numbers><%= stats_views %></numbers>&nbsp;&nbsp;snapshots unique views<br>
		<p><i><a href="#">&nbsp;&nbsp;Want to join the course?</a></i></p>
      </div>
    </div>
    <!-- //Stats -->	
	
	  
    <!-- Footer -->
    <div class="footer">
      <span id="highlight"><%= link_to 'Privacy', page_path('privacy') %></span> &nbsp;&nbsp;&nbsp; <span id="highlight"><%= link_to 'Credits', page_path('credits') %></span>
    </div>
    <!-- //Footer -->	
	
			  
  </div>
  <!-- //Main -->
	
</body>

</html>
